server:
  port: 8081
spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/CoilBetrox/grupal-distribuida.git
          search-paths: config-data
          username: ${GIT_USER}
          password: ${GIT_PASSWORD}

        bootstrap: true
  security:
    user:
      name: root
      password: s3cr3t

